.header {
	background-color: #f7f2b4;
	height: 90px;
}
.main {
	background-color: #bdf7f1;
	height: 600px;
}
h6 {
	font-size: 90px;
	background-color: #bdf7f1;
}
.footer {
	background-color:#ceccf3;
	height: 300px;
}
h1 {
	font-size:60px;
	background-color: #f7f2b4;
}
.inputWrapper {
	height: 30px;
	width: 120px;
}